.animation, .animation_layer {
	height: 1000px;
}

.animation {
  height: 80vh;
  width: 80vw;
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 1080px;
  background-repeat: repeat-x;
  width: 100%;
  height: 100%;
  position: absolute;
}

.animation_layer.parallax {
  position: fixed;
}

#backdrop {
  background-image: url(../assets/Home/backdrop.png);
  background-repeat: no-repeat;
  background-size: cover;
  }

#stars {
  background-image: url(../assets/Home/stars.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#moon {
  background-image: url(../assets/Home/moon.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#wave {
  background-image: url(../assets/Home/wave.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#cloud-left {
  background-image: url(../assets/Home/cloud-left.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
  background-position: top;
}

#cloud-right {
  background-image: url(../assets/Home/cloud-right.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
  background-position: top;
}

#welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#welcome h1 {
  text-align: center;
  font-size: 80px;
  color: #F2FCFF;
  text-shadow:
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 4px #fff,
    0 0 22px #D6C6FF,
    0 0 42px #D6C6FF,
    0 0 5cap #D6C6FF,
    0 0 82px #D6C6FF,
    0 0 83px #D6C6FF;
}

#welcome p {
  font-size: 20px;
  text-align: center;
  background-color: rgb(208, 133, 231, 0.75);
  border-radius: 60px;
  padding: 10px 20px 10px 20px;
  margin: 0;
}

#foreground {
  background-image: url(../assets/Home/foreground.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: bottom;
  margin-top: 30%;
}

/* Textblock / About */

#textblock {
    background-color: #211D3C;
    height: 100vh;
  }
  
  #textblock-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  #textblock-title {
    color: #D6C6FF;
    font-size: 50px;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow:
      /* 0 0 5px #fff,
      0 0 5px #ea57b5,
      0 0 8px #ea57b5,
      0 0 20px #ea57b5,
      0 0 40px #ea57b5; */
      0 0 5px #D6C6FF,
      0 0 5px #D6C6FF,
      0 0 8px #8e61ff,
      0 0 20px #8e61ff,
      0 0 40px #8e61ff;
  }
  
  #textblock-content {
    color: #D6C6FF;
    font-size: 18px;
  }
  
  #textblock-footer {
    background-color: #191533;
    color: #D6C6FF;
    font-size: 15px;
    font-weight: 300px;
    display: grid;
    place-items: center;
    place-content: center;
    position: fixed;
    text-align:center;
    height: 15%;
    width: 100%;
    bottom: 0px;
    padding: 20px 0px 40px 0px;
  }