body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #211D3C;
}

h1 {
  align-content: center;
}

/* Navbar CSS */

.navbar {
  z-index: 999;
  position: fixed;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.sticky-nav {
  position: fixed;
  top: 0;
}

.navbar-bg {
  background-color: transparent;
  position: sticky;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  max-height: 50px;
  max-width: fit-content;
  padding: 15px 0px 15px 15px;
  margin-left: 40px;
}

.navbar-nav .nav-link {
  color: #fff;
  margin-right: 40px;
}

.navbar-nav .nav-link.active {
  color: white;
  background-color: rgb(208, 133, 231, 0.65);
  border-radius: 50px;
  padding: 5px 15px 5px 15px;
}

.navbar-nav .nav-link.active:hover {
  color: white;
  background-color: rgb(208, 133, 231);
  text-decoration: none;
}

.navbar-nav .nav-link:hover {
  color: #EA57B5;
  background-color: none;
}

.active-link {
  text-decoration: underline;
}

.nav-pages {
  display: flex;
  align-items: center;
  margin-right: 40px;
}